
.capy-game {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.game-title {
    text-align: center;
}

.game-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: max-content max-content max-content max-content;
}

.game-restart {
    padding: 50px;
}

/* Extra small devices (800px and down) */
@media only screen and (max-width: 800px) {

    .capy-grid {
        grid-template-columns: max-content max-content max-content;
    }

}
/* Extra large devices (2600px and up) */
@media only screen and (min-width: 2600px) {

    .capy-game {
        width: 50vw;
    }

    .capy-grid {
        gap: 20px;
    }

}
