.hero {
    width: 100%;
    min-height: 300px;
    padding: 100px 0 0 0;
}
  
.hero-desc {
    margin: 2rem 0;
}

.projects {
    width: 100%;
    min-height: 100px;
    padding: 100px 0 0 0;
}
  
.contact {
    width: 100%;
    min-height: 100px;
    padding: 100px 0 0 0;
}

.button {
    background-color: rgb(256, 256, 256, .3);
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid #000000;
    border-radius: 8px;
}

.button:hover {
    background-color: rgb(256, 256, 256, .6);
}  

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}


/* 
TODO --->
*/


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {


  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {


}
