.hero {
    width: 100%;
    min-height: 300px;
    padding: 100px 0 0 0;
}
  
.hero-desc {
    margin: 2rem 0;
}

.projects {
    width: 100%;
    min-height: 100px;
    padding: 100px 0 0 0;
}
  
.contact {
    width: 100%;
    min-height: 100px;
    padding: 100px 0 0 0;
}

.button {
    background-color: rgb(256, 256, 256, .3);
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border: 1px solid #000000;
    border-radius: 8px;
}

.button:hover {
    background-color: rgb(256, 256, 256, .6);
}  

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

/* Extra large devices (2600px and up) */
@media only screen and (min-width: 2600px) {

    .button {
        font-size: 250%;
        padding: 30px 60px;
        border-radius: 16px;        
    }
    .buttons{
        gap: 20px;
        padding: 40px 0;
    }
  
}