
/* Normal devices (width 600px and up) */

.navbar {
    width: 100vw;
    height: 60px;
    background-color: rgb(255, 255, 255, .6);
    position: fixed;
    top: 0;
    backdrop-filter: blur(10px);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    padding-left: 20px;
    font-weight: bold;
    font-size: large;
    text-align: left;
    text-decoration: none;
}

.nav-logo:active, .nav-logo:visited {
    color: rgb(0, 0, 0);
}

.nav-text-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.nav-image-links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    gap: 40px;
    padding: 0 40px 0 40px;
}

.nav-image-link {
    position: relative;
    height: 2rem; 
}

.nav-image {
    height: 100%;
}

.nav-textlinks {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    gap: 40px;
    padding-right: 40px;

}

.nav-textlink, .nav-textlink:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: large;
}

.nav-textlink:hover {
    color: rgb(126, 0, 164);
}

.nav-separator {
    height: 20px;
    width: 1px;
    background-color: #797979;
    border-radius: 99px;
    margin: 0;
}

/* Extra small devices (width 600px and down) */
@media only screen and (max-width: 600px) {

    .nav-logo-div, .nav-separator {
        display: none;
    }

    .navbar {
        justify-content: center;
    }

    .nav-text-links{
        justify-content: space-between;
        flex-direction: row-reverse;
        width: 100vw;
    }

    .nav-image-links {
        padding: 0 0 0 20px;
        gap: 20px
    }
  
}
