html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.App {
  text-align: left;
  height: 100%;
}

header {
  background-color: #ffffff;
  display: flex;
}

.background {
  background-image: url("./pictures/background.svg");
  background-color: rgb(215, 109, 199);
  background-position: center;
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;
}

main {
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.main-content {
  padding: 100px 40px;
  height: 100%;
  white-space: normal;
  max-width: 800px;
  overflow:hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.hero {
  width: 100%;
  min-height: 300px;
  padding: 100px 0 0 0;
}

.hero-desc {
  margin: 2rem 0;
}